@tailwind base;
@tailwind components;
@tailwind utilities;

.my-bg-primary {
 background-color: #F70025;
}
.btn-color {
    background-color: #3C3C3B;
}
#root {
 padding: 0px !important;
 max-width: 100% !important;
}
.icon-style {
    width: 64px;
    top: 64.81px;
    left: 12px;
    gap: 0px;
    opacity: 1; /* Cambiado para que sea visible */

}

